
{% extends "content/base.html" %}


{% block header %}
    Kapely
{% endblock %}


{% block main %}
    <style>
        
body, h1, h2, h3, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: lightgray;
    background-color: #333;
}

/* Header Band */
.h1 {
    background-color: darkgrey;
    color: #1cdb23;
    padding: 20px;
    text-align: center;
}

/* Content Band */
.p {
    background-color: #333;
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Links */
a {
    color: #1cdb23;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Image */
image {
    max-height: 200px;
    width: auto;
}


    </style>
    {% for band in bands %}
        <a href="/band/{{ forloop.counter0 }}"><h2>{{ band.title }}</h2></a>
        <p>{{ band.perex }}</p>
    {% endfor %}

    <h1>Zpěváci</h1>
    {% for singer in singers %}
        <a href="/singer/{{ forloop.counter0 }}"><h2>{{ singer.name }}</h2></a>
        <p>{{ singer.info}}</p>   
    {% endfor %}

    <h1>Žánry</h1>
    {% for genre in genres %}
        <a href="/genre/{{ forloop.counter0 }}"><h2>{{ genre.name }}</h2></a>
        <p>{{ genre.info }}</p>
    {% endfor %}
    <div id="klikz-21"></div>
    <script src="https://klikz.svs.gyarab.cz/hit/21?front=37ff00&back=1d1f20"></script>
{% endblock %}